.elector-of-coordinates {
	width: 200px;
	border: 1px solid rgb(22, 21, 21);
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;	
	box-shadow: 0px 0px 3px 16px #B0C4DE;
	user-select: none;
}

