@font-face {
	font-family: "Montserrat";
	src: url('font/montserrat-v23-latin_cyrillic-700.woff') format('woff'),
		 url('font/montserrat-v23-latin_cyrillic-700.woff2') format('woff2');
}
@font-face {
	font-family: "comic";
	src: url("font/ComicSansMS-Bold.woff") format('woff');
}