@import 'style/var1.scss';
@import 'style/var2.scss';
@import 'style/style.scss';
@import 'style/fonts.scss';
@import 'style/normalize.scss';
@import 'style/common.blocks/html/html.scss';
@import 'style/common.blocks/wrapper/wrapper.scss';
@import 'style/common.blocks/wrapper/__elector-of-coordinates/wrapper__elector-of-coordinates.scss';
@import 'style/common.blocks/wrapper/__instruction/wrapper__instruction.scss';
@import 'style/common.blocks/wrapper/__canvas-work/wrapper__canvas-work.scss';

@import 'style/common.blocks/canvas-work/canvas-work.scss';

@import 'style/common.blocks/elector-of-coordinates/elector-of-coordinates.scss';
@import 'style/common.blocks/elector-of-coordinates/__instruction/elector-of-coordinates__instruction.scss';
@import 'style/common.blocks/elector-of-coordinates/__legend/elector-of-coordinates__legend.scss';
@import 'style/common.blocks/elector-of-coordinates/_size/elector-of-coordinates_size_s.scss';
@import 'style/common.blocks/elector-of-coordinates/__list/elector-of-coordinates__list.scss';

@import 'style/common.blocks/list/list.scss';
@import 'style/common.blocks/list/__item/list__item.scss';
@import 'style/common.blocks/list/__rules/list__rules.scss';
@import 'style/common.blocks/list/_theme/list_theme_rules.scss';
@import 'style/common.blocks/list/__item/_pick/list__item_pick.scss';
@import 'style/common.blocks/list/__item/_active/list__item_active.scss';


@import 'style/common.blocks/instruction/instruction.scss';
@import 'style/common.blocks/instruction/__field/instruction__field.scss';
@import 'style/common.blocks/instruction/__field/_active/instruction__field_active.scss';
@import 'style/common.blocks/instruction/__title/instruction__title.scss';
@import 'style/common.blocks/instruction/__list/instruction__list.scss';
@import 'style/common.blocks/instruction/__field/_theme/instruction__field_theme_sun.scss';
@import 'style/common.blocks/instruction/__message/instruction__message.scss';
@import 'style/common.blocks/instruction/__before/instruction__before.scss';

@import 'style/common.blocks/finalCoords/finalCoords.scss';
@import 'style/common.blocks/finalCoords/__text/finalCoords__text.scss';
@import 'style/common.blocks/clearFix/clearFix.scss';






